.App {
  font-size: 1.3rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.header{
  display: flex;
}

.logo{
  margin-right: 2rem;
}

.address{
  width:40%
}